services:
  # Go Fiber Backend
  app:
    build:
      context: .
      dockerfile: docker/golang/${DOCKERFILE}
    container_name: pxlfox-app
    ports:
      - "8080:4000"
    volumes:
      - .:/app
    env_file: ".env"
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
    networks:
      - pxlfox-network

  # MySQL database
  db:
    image: mysql:8.4
    container_name: pxlfox-db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -p$$MYSQL_ROOT_PASSWORD --silent"]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 10s
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - pxlfox-network

  # Dragonfly Cache
  cache:
    image: docker.dragonflydb.io/dragonflydb/dragonfly
    container_name: pxlfox-cache
    command: ["dragonfly", "--cache_mode=true", "--requirepass", "${CACHE_PASSWORD}"]
    ports:
      - "6379:6379"
    networks:
      - pxlfox-network

  # Optional: PHPMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pxlfox-phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - pxlfox-network
  # Optional: catch mails locally
  mailhog:
    image: mailhog/mailhog
    container_name: pxlfox-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - pxlfox-network

volumes:
  db_data:

networks:
  pxlfox-network:
    driver: bridge
