services:
  # Second app instance acting as a separate Storage node (s01)
  app_s01:
    build:
      context: .
      dockerfile: docker/golang/${DOCKERFILE}
    container_name: pxlfox-app-s01
    env_file: ".env"
    environment:
      - NODE_ID=s01
      - DISABLE_JOB_WORKERS=0
      - APP_PORT=4000
    ports:
      - "8082:4000"   # host: 8082 -> container: 4000
    volumes:
      - .:/app
      # ensure a distinct folder exists for s01 if you want to separate data
      - ./uploads_s01:/app/uploads_s01
      - ./uploads_s01:/app/uploads
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
    networks:
      - pxlfox-network

  # Third app instance acting as warm storage node (s02)
  app_s02:
    build:
      context: .
      dockerfile: docker/golang/${DOCKERFILE}
    container_name: pxlfox-app-s02
    env_file: ".env"
    environment:
      - NODE_ID=s02
      # Disable workers here so only s01 runs tiering/processing in tests (optional)
      - DISABLE_JOB_WORKERS=0
      - APP_PORT=4000
    ports:
      - "8083:4000"
    volumes:
      - .:/app
      - ./uploads_s02:/app/uploads_s02
      - ./uploads_s02:/app/uploads
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
    networks:
      - pxlfox-network

networks:
  pxlfox-network:
    external: false
