package admin_views

import (
	"github.com/ManuelReschke/PixelFox/views/partials"
)

templ AdminLayout(content templ.Component) {
	<div class="container mx-auto px-4 py-4">
		<!-- SweetAlert2 JS -->  
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>

		<!-- Admin Navigation -->
		@partials.AdminNavbar()

		<!-- Content -->
		<div class="mt-4">
			@content
		</div>
	</div>
}
